# Markdown basics
## Markdown basics
### Markdown basics
#### Markdown basics
##### Markdown basics
###### Markdown basics

* **point 1** (bold)
* *point2* (itallic)
* ***point3***(bold and itallic)

* Normal Text
 * sublist 1
 * sublist 2
 
   >1.point 1
   >2.point 2
* ***Adding links to Markdown***
 
 * Google site -- [1]: https://www.google.com
 * msn site    -- [2]: https://www.msn.com
 
- .[].option 1

* Google site -- [Google][1]
.[1]:https//:www.google.com

### Python Basics
* Python version 3.7
* Functional programming
* Object oriented programming
* Scripting programming

In [1]:
print("Hello,Gitam")

Hello,Gitam

In [2]:
print("hello,Gitam")
print("Hyderabad")

hello,Gitam
Hyderabad

In [6]:
print("Hello,Gitam","l l l",end="")
print("Hyderabad",end=" l l l ")
print("Python Programming")

Hello,Gitam l l lHyderabad l l l Python Programming

In [8]:
n1 = 100 # Single variable Assaignment
a = b = c = 20 # Multi variable Assaignment of the same value
a1,b1,c1 = 111,222,333 # multi variable assaignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and Conversions
* int
* char
* float

In [9]:
a = 100
print(a)
print(type(a))

100
<class 'int'>

In [10]:
a = 100
s1 = "Python"
s2 = "p"
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [11]:
i=100
print(type(i))
s1=str(i) # str()
#converts the input into string type
print(type(s1))
f1 = float(i) # float() converts the input into
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [12]:
s1= "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [13]:
# A number is given
# digit count
A1 = 1234
print(len(str(A1)))

4

# Reading the value -- Input function
* inpu("message")=string

In [14]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your nameyashwanth
yashwanth
<class 'str'>

In [15]:
# want a number as a input'
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number1245
1245 <class 'int'>

# Operators
* operator is a symbols is used to perform a specific kind of operation
### Arthematic Operations
* +
* /
* -
* *
* %
* **
* //

In [16]:
n1=1234
print(n1+10)
print(n1/10)
print(n1-10)
print(n1*10)
print(n1%10)
print(n1**10)
print(n1//10)

1244
123.4
1224
12340
4
8187505353567209228244052427776
123

### Precedence of the Arth operations

* Paranthesis
* power
* Multiplication
* Addition
### Left to Right

In [17]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [18]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational operators
* == != <> <= >=

### Logical operators

##### Used to combine single condition
* And
* or
* not

In [26]:
i=100
a1 = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### Control flow Statements
* Conditional statements
* Looping statements

###syntax
* if Boolean_condition
* statements
* else :
* statements

In [24]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2==0 :
    print("even")
else :
    print("odd")

enter a number65
odd

In [25]:
# to check given number is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number20
no

In [27]:
# test given number is positive, negative or zero
n = int(input("enter a number"))
if n==0:
    print("zero")
if n>0:
    print("positive number")
if n<0:
    print("negative number")

enter a number4
positive number