In [1]:
print("welome to python programming")

welome to python programming

In [2]:
x=100
print(x)

100

In [3]:
x=100
print("x")

x

# Markdown
## Markdown
### Markdown

### insert a image
![text](https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

### enter a site
[text](https://www.google.com/search?q=images+of+nature&sxsrf=ACYBGNRwonBQzA5ovIyK2zSJ8z0GIeYm7A:1575346620747&tbm=isch&source=iu&ictx=1&fir=eoyXTi0JoMVhDM%253A%252CjcfJekXmSUdJHM%252C_&vet=1&usg=AI4_-kS7bW830alPX1CBSFNpY0jJAwhm2w&sa=X&ved=2ahUKEwip6-i9z5jmAhVLXSsKHfp1D_AQ9QEwAnoECAgQMQ#imgrc=HDqdfWmy9KQdUM:&vet=1)

### for creating orderd text
1. abc
2. efg

### for creating unordered text

### "bold and single" italic text
**gitam**<br>
*gitam*

In [4]:
# variable creation
a=10
b=20
a+b

30

In [5]:
name="gitam"
print("university"+name)

universitygitam

In [6]:
name=input("enter a name") 
age=int(input("enter a age"))
print("my name is:",name,"my age is:",age)

enter a nameSAI VENKAT
enter a age19
my name is: SAI VENKAT my age is: 19

# TAKE TWO INPUTS AND DO THE FOLLOWING OPERATIONS

## add, sub, mul, div

In [7]:
a=20
b=10
a+b
a-b
a*b
a/b

2.0

In [8]:
a=20
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)

30
10
200
2.0

### fundamentals of datatypes:
### 1. int
### 2. float
### 3. complex
### 4. boolean
### 5. string

In [11]:
a=10
b=12.05
c=3+3j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [12]:
c= complex(3,4)
print(c)

(3+4j)

In [13]:
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1*c2)

(9+12j)
(-17+51j)

In [14]:
a=10
b=20
a>b

False

In [15]:
s1= "abc"
s2= "xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [18]:
s1= "100"
print(type(s1))
a= int(s1)
print(type(a))
f=1.5
a1= int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [20]:
a1=1234
print(len(str(a1)))

4

## operators
### 1. arithmetic operators ---> +,-,*,%,//,**,
### 2. logical operators --->and,or,not
### 3. relational operators--->  <,>,<=,>=,==,!=
###  4. membership operators ---> in,not in

In [21]:
#arithmetical  operators
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15
5
50
2.0
0
2
100000

In [22]:
#relational operators
print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False
True
False
True

In [31]:
#logical operators
print(a>=10 and b<=20)
print(a>=10 or b<=20)
print(not a)

True
True
False

In [33]:
a=int(input("enter a number"))
b=int(input("enter a number"))
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

enter a number100
enter a number50
False
True
False
True
False
True

## membership operator
### in -- true if value found in sequence
### not in -- true if value not found in sequence

In [34]:
f=[1,2,3,4]
print(1 in f)
print(10 in f)
print(10 not in f)

True
False
True

# conditional statements
## 1. if
## 2. else
## 3. elif(else if)
# SYNTAX 
## if conditions
 >statements<br>
## else:
>statements

In [38]:
n=int(input("enter a value"))
if n%2==0:
    print("even")
else :
    print("odd")

enter a value10
even

# to check given number is multiple of 3 and 5

In [41]:
n=int(input("enter a value"))
if n%3==0 and n%5==0:
    print("multiple of 3 and 5")
else :
    print("not an multiple of 3 and 5")

enter a value9
not an multiple of 3 and 5

# check whether the number is positive or negative or zero

In [52]:
n=int(input("enter a value"))
if n>0: 
    print("it is a positive number")
elif n<0 :
    print("it is not a positive number")   
else:
    print("it is a zero number")

enter a value10
it is a positive number

In [58]:
n=int(input("enter a value"))
if n%400==0 or (n%100!=0 and n%4==0):
    print("leap year")
else :
    print("not a leap year")

enter a value2100
not a leap year

# print numbers 1 to n

In [69]:
# print no from 1 to n
n=int(input("enter a value"))
i=1
while i<=n:
  print(i,end=" ")
  i=i+1

enter a value10
1 2 3 4 5 6 7 8 9 10

In [90]:
# read a nop a input
# output should be sum of even no's from 1 to N

n=int(input("enter a number: "))
i=1
s=0
while i<=n:
    if i%2==0:
       s = s+i
    i=i+1
print(s)

enter a number: 10
30